.start{
    height: 100vh;
    background-image: url(../../assets/start.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    flex-direction: column;
    gap: 1rem;
}