@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}



ul {
    list-style: none;
}

section.about, section.education, section.experience, section.skills,section.portfolio, section.contacts, section.feedbacks{
    display: flex;
    padding: 3rem 2rem;
    flex-direction: column;
    gap: 3rem;
}

p {
    font-size: 1.4rem;
}

@media (max-width: 600px) {
    html {
        font-size: 55%;
    }
    .panel{
        width: 15%;
    }

    .panel a span{
        display: none;
    }
    
    .panel .panel-body {
        align-items: center;
    }
    .panel .panel-header img {
        width: 30px;
    }

    .panel h1 {
        display: none;
    }

    .panel .panel-goback .goback {
        display: none;
    }

    button {
        padding: .5rem;
    }
}
